<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Have Allergies?
                </td>
                <td>
                    <div id="patient_jqxHaveAllergiesChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Allergens Drugs
                </td>
                <td>
                    <div id="patient_jqxAllergenDrugsDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Allergens Food
                </td>
                <td>
                    <div id="patient_jqxAllergenFoodDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Allergens Surrounding
                </td>
                <td>
                    <div id="patient_jqxAllergenSorroundingDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Mixed Allergens
                </td>
                <td>
                    <div id="patient_jqxMixedAllergenChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Other Allergens
                </td>
                <td>
                    <input type="text" id="patient_jqxOtherAllergensTxt" />
                </td>
            </tr>   
        </table>
    </div>
</div>
