<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">History of Blood Transfusion?
                </td>
                <td>
                    <div id="patient_jqxHistOfBloodTranChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Transfusion Reasons
                </td>
                <td>
                    <input type="text" id="patient_jqxTranReasonTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Transfusion Date
                </td>
                <td>
                    <div id="patient_jqxTranDtCal" ></div>
                </td>
            </tr>
        </table>
    </div>
</div>