<div>
    Descriptive Info
</div>
<div>
    <div style="height: 302px; width: 100%; border-bottom: 1px solid #aaaaaa; overflow-y: scroll">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Gender
                </td>
                <td>
                    <div type="text" id="patient_jqxGenderDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Height
                </td>
                <td>
                    <input type="text" id="patient_jqxHeightTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Blood Type
                </td>
                <td>
                    <div type="text" id="patient_jqxBloodTypeDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Blood Group
                </td>
                <td>
                    <div type="text" id="patient_jqxBloodGrpDdn" ></div>
                </td>
            </tr>
        </table>
    </div>
</div>
