<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Without Disabilities?
                </td>
                <td>
                    <div id="patient_jqxWithoutDisablitiesChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Visual Disability
                </td>
                <td>
                    <div id="patient_jqxVisualDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Hearing Disability
                </td>
                <td>
                    <div id="patient_jqxHearingDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Speech Disability
                </td>
                <td>
                    <div id="patient_jqxSpeechDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Physical Disability
                </td>
                <td>
                    <div id="patient_jqxPhysicalDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Intellectual Disability
                </td>
                <td>
                    <div id="patient_jqxIntellectualDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Mental Disability
                </td>
                <td>
                    <div id="patient_jqxMentalDisabilityChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Other Disabilities
                </td>
                <td>
                    <input type="text" id="patient_jqxOtherDisabilitiesTxt" />
                </td>
            </tr>
        </table>
    </div>
</div>