<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Medical History
                </td>
                <td>
                    <div id="patient_jqxMedicalHistChk"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Hypertension with Patient
                </td>
                <td>
                    <input type="text" id="patient_jqxHypertensionWithPatientTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Diabetes and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxDiabetesPatientRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Relationship with the Patient with Coronary Heart Disease
                </td>
                <td>
                    <input type="text" id="patient_jqxRelWithPatientWithCoronaryHrtDisTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Chronic Obstructive Pulmonary Disease and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxChronicObstructivePulmonarydisRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Stroke and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxStrokePatientRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Cancer and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxCancerPatientRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Patients with Severe Mental Illness and Relationships
                </td>
                <td>
                    <input type="text" id="patient_jqxPAtientWithSevMentIllRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">TB Patient
                </td>
                <td>
                    <input type="text" id="patient_jqxTBPatientTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Liver Disease and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxLiverDisPatientrelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Congenital Malformations and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxCogenetalMalPatientRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Kidney Disease and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxKidneyDisPatientRelTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Anemia and Patient Relationship
                </td>
                <td>
                    <input type="text" id="patient_jqxAnemiaPatientRelTxt" />
                </td>
            </tr>
        </table>
    </div>
</div>
