<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">History of Family Genetics?
                </td>
                <td>
                    <div id="patient_jqxHistOfFamilyGeneticsChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Genetic VD Name
                </td>
                <td>
                    <input type="text" id="patient_jqxGeneticVDNameTxt" />
                </td>
            </tr>
        </table>
    </div>
</div>