<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Health risk factors exposure categories
                </td>
                <td>
                    <div id="patient_jqxHealthRskFctorsDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Kitchen ventilation facilities
                </td>
                <td>
                    <div id="patient_jqxKitchenVentFacDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Fuel Type
                </td>
                <td>
                    <div id="patient_jqxFuelTypeDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Drinking water sources
                </td>
                <td>
                    <div id="patient_jqxDrinkingWaterSrcDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Toilets
                </td>
                <td>
                    <div id="patient_jqxToiletsDdn" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Livestock column
                </td>
                <td>
                    <div id="patient_jqxLivestockColumnsDdn" ></div>
                </td>
            </tr>
        </table>
    </div>
</div>