<div>
    Medical Info
</div>
<div>
    <div style="height: 415px; width: 100%; border-bottom: 1px solid #aaaaaa; overflow-y: scroll">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Center
                </td>
                <td>
                    <div id="patient_jqxCenterDdn"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Center Admin
                </td>
                <td>
                    <input type="text" id="patient_jqxCenterAdminTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Site
                </td>
                <td>
                    <div type="text" id="patient_jqxSiteDdn"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Responsible Doctor
                </td>
                <td>
                    <div type="text" id="patient_jqxRespDoctorDdn"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Health Event Name
                </td>
                <td>
                    <input type="text" id="patient_jqxHealthEventNameTxt" />
                </td>
            </tr>
            <tr style="height: 30px">
                <td class="DetailGridFieldCaption">Health Date Of Incident
                </td>
                <td>
                    <div id='patient_jqxHDoICal'></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Health Incident Location
                </td>
                <td>
                    <input type="text" id="patient_jqxHealthIncidentLocationTxt"/>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Past Observations Project Name
                </td>
                <td>
                    <input type="text" id="patient_jqxPastObservProjNameTxt"/>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Previous Observation Method Name
                </td>
                <td>
                    <input type="text" id="patient_jqxPastObservMethNameTxt"/>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Past Observations  
                </td>
                <td>
                    <input type="text" id="patient_jqxpPastObserTxt"/>
                </td>
            </tr>
        </table>
    </div>
</div>
