<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;overflow-y:scroll">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Have Medical History?
                </td>
                <td>
                    <div id="patient_jqxHaveMedicalHistoryChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Hypertension Diagnosed Date
                </td>
                <td>
                    <div id="patient_jqxHypertensionDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Diabetes Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxDiabetesDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Coronary Heart Disease Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxCorHrtDisDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Malignancies Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxMalDgnstDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Severe Mental Illness Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxSevMenIllDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">TB Diagnosed Date
                </td>
                <td>
                    <div id="patient_jqxTBDgnstDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Liver Disease Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxLivDisDgnstDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Chronic Obstructive Pulmonary Disease Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxChrObsPulDgnstDtCal"></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Congenital Malformations Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxConMalDgnstDtCal"></div>
                </td>
            </tr> 
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Occupational Disease Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxOccDisDgnstDtCal"></div>
                </td>
            </tr> 
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Kidney Disease Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxKidDgnstDtCal"></div>
                </td>
            </tr> 
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Anemia Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxAneDgnstDtCal"></div>
                </td>
            </tr> 
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Other Notifiable Diseases Diagnosis Date
                </td>
                <td>
                    <div id="patient_jqxOThrNotDgnstDtCal"></div>
                </td>
            </tr> 
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Other Confirmed Dates
                </td>
                <td>
                    <div id="patient_jqxOthrConfDtCal"></div>
                </td>
            </tr>   
        </table>
    </div>
</div>
