<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Without Surgery?
                </td>
                <td>
                    <div id="patient_jqxWithoutSurgeryChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Name of the Procedure
                </td>
                <td>
                    <input type="text" id="patient_jqxNameofProcTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Date of Surgery
                </td>
                <td>
                    <div id="patient_jqxDtOfSurgeryCal"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
