<div>
    <div style="height: 502px; width: 100%; border-bottom: 1px solid #aaaaaa;">
        <table width="100%">
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">History of Trauma?
                </td>
                <td>
                    <div id="patient_jqxHistOfTraumaChk" ></div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Trauma Name
                </td>
                <td>
                    <input type="text" id="patient_jqxNameofTraumaTxt" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td class="DetailGridFieldCaption">Trauma Begin Date
                </td>
                <td>
                    <div id="patient_jqxTraumaBeginDtCal" ></div>
                </td>
            </tr>
        </table>
    </div>
</div>